.root {
    -fx-font-size: 14px;
    -fx-font-family: sans-serif;
    -fx-background-color: #fff;
}

.header-section {
    -fx-background-color: #008080;
    -fx-padding: 0 0 10 20;
}

.header-section Label {
    -fx-text-fill: #fff;
    -fx-padding: 10px;
    -fx-font-size: 16px;
}

#account {
    -fx-text-fill:  white;
    -fx-font-size: 16px;
    -fx-cursor: hand;
    -fx-background-color: #008080;
}
button{

}
.sidebar-section {
    -fx-min-width: 200px;
    -fx-pref-width: 200px;
    -fx-max-width: 200px;
    -fx-border-width: 1;
    -fx-border-color: transparent #E8E8E8 transparent transparent;
}

/* Permet de sélectionner tous les "Label" contenus dans l'élément ayant pour class "sidebar-section" */
.sidebar-section Label {
    -fx-min-width: 200px;
    -fx-pref-width: 200px;
    -fx-max-width: 200px;
     -fx-border-color:transparent transparent #E8E8E8  transparent ;
     -fx-padding: 5px 10px 10px 10px;
}

.content-section {
    -fx-wrap-text: true;
    -fx-padding:30px;
}

#content-header {
    -fx-font-size: 18px;
    -fx-padding: 0 0 10 00;
    -fx-font-weight: 700;

}

#content {
    -fx-wrap-text: true;
    -fx-font-size: 15px;
}

#footer-section{
-fx-alignment: center ;
-fx-border-style: solid inside;
-fx-border-color:#E8E8E8  transparent transparent transparent ;
-fx-padding: 20 0;
}